// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
  body {
    margin: 0 auto;
    .Header {
      background-color: rgba(53, 78, 104, 0.63) !important;
    }
  }
}

.whiteLink {
  color: white !important;
}
.headerFont {
  font-weight: 700;
  vertical-align: middle;
  font-family: "Montserrat", "Roboto Slab", serif;
  vertical-align: middle;
  margin-bottom: 20px !important;
}
.aboutPageStyles {
  width: 100%;
  padding: 20px;
  color: #282436;
  font-family: -apple-system, Roboto, sans-serif, serif;
  .divCard1 {
    width: 77%;
    margin: 0 auto;
    height: 100%;
    padding: 75px;
    h1 {
      font-size: 2.5em;
      font-weight: bold;
    }
  }
  .divCard2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    .myInfo1 {
      padding: 30px;
      // grid-area: 1 / 1 / 2 / 2;
      img {
        display: block;
        margin: 0 auto;
      }
    }
    .myInfo2 {
      padding: 30px;
      width: 50%;
      ul {
        li {
          list-style: none;
          text-align: center;

          p {
            font-size: 1.5rem;
            font-family: "Roboto Slab", serif !important;
          }
        }
      }
    }
  }
}
.projectStyles {
  width: 100%;
  color: #282436;
  background-color: rgba(174, 174, 216);
  // background-image: ;
  font-family: -apple-system, Roboto, sans-serif, serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  a div {
    transition: 0.3s;
    height: 60vh;
  }
  a:nth-of-type(1) {
    div {
      background-image: url("../images/image1.jpg");
      background-size: cover;
    }
  }
  a:nth-of-type(2) {
    div {
      background-image: url("../images/image2.jpg");
      background-size: cover;
    }
  }
  a:nth-of-type(3) {
    div {
      background-image: url("../images/image3.jpg");
      background-size: cover;
    }
  }
  a:nth-of-type(4) {
    div {
      background-image: url("../images/image4.jpg");
      background-size: cover;
    }
  }
  a:nth-of-type(5) {
    div {
      background-image: url("../images/image5.jpg");
      background-size: cover;
    }
  }
  a:nth-of-type(6) {
    div {
      background-image: url("../images/image6.jpg");
      background-size: cover;
    }
  }

  .centerText {
    text-align: center;
    padding: 50px;
    h3 {
      display: none;
      font-size: 2rem;
      margin-top: 40px;
    }
  }

  .centerText:hover {
    opacity: 0.7;
    h3 {
      display: block;
    }
  }
}
.blogPost {
  text-align: center;
  margin: 150px;
  height: 60vh;
  background-color: rgba(100, 100, 146, 0.418);
  h1 {
    padding-top: 150px;
  }
}
// contact
.ptSansFont {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1em;
}
.ubuntuFont {
  font-family: "Ubuntu", sans-serif;
}
@media only screen and (max-width: 920px) {
  .aboutPageStyles {
    .divCard1 {
      padding: 30px;
      h1 {
        margin-bottom: 70px;
      }
    }
  }

  .projectStyles {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  .blogPost {
    margin: 100px;
    height: 50vh;
  }
}

@media only screen and (max-width: 600px) {
  .aboutPageStyles {
    .divCard1 {
      padding: 0px;
    }
    .divCard2 {
      flex-direction: column;
      .myInfo2 {
        padding: 30px;
        width: 100%;
      }
    }
  }
  .blogPost {
    margin: 50px;
    height: 50vh;
  }
}
